$def with(datos)

<div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">$datos[0]</h5>
          <p class="card-text">$datos[1]</p>
          <a href="/acercade" class="btn btn-secondary">Acerca de</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>

      <img data-src="../../static/images/fondo1.jpg" alt="Fondo1" witdh="300w" height="300w" class="lazyload">